@use "sass:math";

@use "sass:map";
@use '../bootstrap.scss';
@use "../mixins/bem";
@use "../mixins/col";
@use "../settings/variables";

.col {
  box-sizing: border-box;
  flex: 0 0 100%;
  flex-direction: column;
  max-width: 100%;
  padding: map.get(variables.$gutter, 'height') math.div(map.get(variables.$gutter, 'width'), 2) 0;

  @include bem.variant('no-gutters') {
    padding: 0;
  }

  @include bem.variant('align-top') {
    align-self: flex-start;
  }

  @include bem.variant('align-center') {
    align-self: center;
  }

  @include bem.variant('align-bottom') {
    align-self: flex-end;
  }

  @include bem.variant('first') {
    order: -1;
  }

  @include bem.variant('last') {
    order: 1;
  }

  @include bem.variant('reset') {
    order: 0;
  }

  @include bem.variant('flex') {
    display: flex;
  }
}

@include col.make-columns(variables.$breakpoints, variables.$columns);
