@use "../mixins/bem";
@use "../mixins/grid";
@use "../settings/variables";

@use "sass:math";

@use "sass:map";
@use '../bootstrap.scss';

.grid {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 math.div(map.get(variables.$gutter, 'width'), 2);

  @include bem.variant('container') {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }

  @include bem.variant('no-gutters') {
    padding: 0;
  }
}

@include grid.make-grids(variables.$breakpoints);
