@use "../mixins/bem";
@use "../mixins/row";
@use "../settings/variables";

@use "sass:math";

@use "sass:map";
@use '../bootstrap.scss';

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: (-(map.get(variables.$gutter, 'height'))) (-(math.div(map.get(variables.$gutter, 'width'), 2))) (map.get(variables.$gutter, 'height'));
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }

  @include bem.variant('no-gutters') {
    margin: 0;
  }

  @include bem.variant('top') {
    align-items: flex-start;
  }

  @include bem.variant('center') {
    align-items: center;
  }

  @include bem.variant('bottom') {
    align-items: flex-end;
  }

  @include bem.variant('reverse') {
    flex-direction: row-reverse;
  }
}

@include row.make-rows(variables.$breakpoints);
