@use "../mixins/bem";
@use "../mixins/text";
@use "../settings/variables";

@use '../bootstrap.scss';

.text {
  @include bem.variant('left') {
    text-align: left;
  }

  @include bem.variant('right') {
    text-align: right;
  }

  @include bem.variant('center') {
    text-align: center;
  }
}

@include text.make-text(variables.$breakpoints);
