// Import all the settings.
@use 'settings/_variables.scss';


// Import all the mixins.
@use 'mixins/_bem.scss';
@use 'mixins/_col.scss';
@use 'mixins/_grid.scss';
@use 'mixins/_row.scss';
@use 'mixins/_text.scss';

// Import all the components.
@use 'components/_grid.scss' as grid2;
@use 'components/_row.scss' as row2;
@use 'components/_col.scss' as col2;
@use 'components/_text.scss' as text2;
